<h1 mat-dialog-title>
  {{ modo === 'nuevo' ? 'Nuevo producto' : 'Editar producto' }}
</h1>

<div mat-dialog-content>
  <form [formGroup]="form" class="form">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre">
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Precio</mat-label>
      <input matInput type="number" formControlName="precio">
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Categoría</mat-label>
      <mat-select formControlName="categoriaId">
        <mat-option *ngFor="let cat of data.categorias" [value]="cat">
          {{ cat }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-checkbox formControlName="vigente">Producto vigente</mat-checkbox>
  </form>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="guardar()" [disabled]="form.invalid">Guardar</button>
</div>
