<h2 mat-dialog-title>{{ data.title }}</h2>

<mat-dialog-content [formGroup]="form" class="form">
  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Nombre de la categoría</mat-label>
    <input matInput formControlName="nombre" />
    <mat-error *ngIf="form.get('nombre')?.invalid">Este campo es obligatorio</mat-error>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button mat-flat-button color="primary" (click)="guardar()" [disabled]="form.invalid">Guardar</button>
</mat-dialog-actions>
