<div id="topbar">
  <div class="left">
    <button id="menu-toggle" (click)="toggleMenu()">
      <span class="material-icons">menu</span>
    </button>

    <span class="material-icons user-icon">account_circle</span>

    <span class="username">
      <ng-container *ngIf="!cargandoUsuario; else cargando">
        {{ usuario }}
      </ng-container>
     <ng-template #cargando>
      <span class="username loader-placeholder"></span>
    </ng-template>
    </span>
  </div>

  <div class="center">
    <span class="datetime">{{ fechaActual }} - {{ horaActual }}</span>
  </div>

  <div class="right">
    <button (click)="confirmarLogout()" class="logout" title="Cerrar sesión">
      <span class="material-icons">exit_to_app</span>
    </button>
  </div>
</div>


<div id="wrapper" [class.menuDisplayed]="menuAbierto">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li>
        <a routerLink="/home/new-order">
          <span class="material-icons">add_shopping_cart</span>
          Nuevo pedido
        </a>
      </li>
      <li>
        <a routerLink="/home/orders">
          <span class="material-icons">list_alt</span>
          Pedidos
        </a>
      </li>
      <li>
        <a routerLink="/home/customers">
          <span class="material-icons">people</span>
          Clientes
        </a>
      </li>
      <li>
        <a routerLink="/home/products">
          <span class="material-icons">restaurant_menu</span>
          Productos
        </a>
      </li>
      <li>
        <a routerLink="/home/settings">
          <span class="material-icons">settings</span>
          Configuración
        </a>
      </li>
    </ul>
  </div>

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>
