<div id="wrapper">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li><a routerLink="/home">Nuevo pedido</a></li>
      <li><a routerLink="/home/orders">Pedidos</a></li>
      <li><a routerLink="/home/customers">Clientes</a></li>
      <li><a routerLink="/home/products">Productos</a></li>
      <li><a routerLink="/home/settings">Configuración</a></li>
    </ul>
  </div>

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <button id="menu-toggle">☰</button>
    <router-outlet></router-outlet>
  </div>
</div>
